[core]
	editor = \"path\\to\\Code.exe\" --wait
[user]
	name = Guillem Martinez Salvador
	email = gm@sal.cat
;[includeIf "gitdir/i:personal/"]
;	path = personal.gitconfig
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	first = "! git reset ; git commit --allow-empty --message='Initial commit.'"
	who = "blame -wMC"
	whoadd = "! f() { git log --follow --find-renames=40% --diff-filter=A -- **${1} ; }; f"
	aa = "! git add --all ; git status"
	pf = "push --force"
	newb = "checkout -b"
	newp = "! f() { BRANCH_NAME=$(git branch --show-current); DEFAULT_ORIGIN=$(git remote | head -1); git push --set-upstream $DEFAULT_ORIGIN $BRANCH_NAME; }; f"
	oops = "commit --amend --no-edit"
	typo = "commit --amend -c HEAD"
	uncommit = "reset --soft HEAD^"
	dif = "difftool -y"
	logp = "log --graph --date=relative --pretty=tformat:\"%Cred%h%Creset -%C(auto)%d%Creset %s (%Cgreen%an%Creset %C(bold blue)%ad%Creset)\""
	url = "! f() { REPO_URL=$(git config remote.origin.url); printf \"${REPO_URL%%.git}\" > /dev/clipboard; echo \"Copied ${REPO_URL%%.git} to clipboard.\"; }; f"
	shake = "! { git for-each-ref --format \"%(refname:short)\" refs/heads --merged=main & git for-each-ref --format \"%(refname:short)\" refs/heads --merged=master; } 2> /dev/null | grep -v -e master -e main -e `git rev-parse --abbrev-ref HEAD` | sort -u | xargs --no-run-if-empty git branch -d"
	shakeall = "! f() { for d in `find \"${1:-/}\" -name \".git\" -type d -not -path \"*/\\.git/*\"`; do cd `dirname $d`; echo `pwd`:; git shake; echo; done }; f"
